.footer {
  background-color: #3b455a;
  color: #ffffff;
  padding: 40px 0;
  width: 100%;
  overflow-x: hidden;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer_section {
  flex: 1 1 250px;
  margin: 20px;
  min-width: 220px;
}

.footer_logo {
  height: 20px;
  margin-bottom: 20px;
}

.section_title {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
}

.list_reset {
  list-style-type: none;
  padding: 0;
}

.list_item {
  margin-bottom: 15px;
}

.link {
  color: #b6b6b6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.social_icons_container a {
  color: #ffffff;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
}

.social_icons_container a:hover {
  color: #ffc107;
}
@media (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_section {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    flex: 1 1 50px;
  }

  .social_icons_container {
    display: flex;
    justify-content: center;
  }

  .social_icons_container a {
    margin: 0 12px;
    font-size: 20px;
  }

  .footer_logo {
    height: 40px;
  }
}
